black
celery
Django
django-debug-toolbar
djangorestframework
djlint
dotenv
factory_boy
ipython
isort
langchain_openai
langgraph
markdown
matplotlib
pypdf
python-dotenv
redis
ruff
sourcery-cli
weasyprint
